@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-bold tracking-widest;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg font-semibold;
  }
  a {
    @apply text-blue-600 underline;
  }
}

@layer components {
  .inter-heading2 {
    @apply font-bold text-3xl
  }

  .inter-body {
    @apply font-semibold text-2xl
  }

  .inter-body2 {
    @apply font-medium text-lg
  }

  .inter-button {
    @apply font-medium text-base
  }

  .inter-caption {
    @apply font-medium text-sm
  }

  .inter-small {
    @apply font-medium text-sm
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
